:root {
    --sizing-fs-base: 12px;
    --sizing-ws-base: 1.5em;

    --sizing-fs-tablet: 14px;
    --sizing-fs-laptop: 16px;
    --sizing-fs-desctop: 18px;
    --sizing-fs-huge: 20px;
}

* , *:before, *:after, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Typography */

html {
    font: var(--sizing-fs-base)/1.5 "Georgia", serif;
}

@media (min-width: 600px) {
    html {font-size: var(--sizing-fs-tablet);}
}

@media (min-width: 1260px) {
    html {font-size: var(--sizing-fs-laptop);}    
}

@media (min-width: 1420px) {
    html {font-size: var(--sizing-fs-desctop);}    
}

@media (min-width: 1660px) {
    html {font-size: var(--sizing-fs-huge);}    
}

p, ul, ol, dl, table {
    padding-bottom: var(--sizing-ws-base);
}


ul, ol {
    padding-left: var(--sizing-ws-base);
}

h1, h2, h3, h4 {
    margin: 0 0 calc( var(--sizing-ws-base / 3)) 0;
}

h1, h2, h3 {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #888;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

p {
    padding-bottom: 1.2em;
    color: #999;
}

h1{ font-size: 3.4rem;}
h2{ font-size: 2.441rem; }
h3{ font-size: 1.953rem; }
h4{ font-size: 1.5rem; }
h5{ font-size: 1.25rem; }
h6{ font-size: 1rem; }
