
<section class="bio" id='biography'>
        <header>
            <h3>Biography</h3>
        </header>
    
        <article class="article">
            <p>Born in France and raised in New Zealand, Bassist, Keyboardist, Producer, Mix Engineer, Composer, and Arranger.</p>
            <p><b>Pat Stewart</b> started playing bass in bands in High School, beginning a professional career as a Jazz and Pop Musician before the age of 18. Pat then completed a BMus in Jazz Performance on Double Bass and Electric Bass, during which he found a love of composition and production that has been a constant vein throughout his Musical expression ever since. </p>
            <p>After spending several years playing and writing in original projects (Brockaflower/The Strowlini Orchestra) and as a session player (Louis Baker/Thomas Oliver/Zoë Moon/Deva Mahal), as well as Producer and Mix engineer (Funkacybin/Ryan Hendricks/Lucas Martinez Membrilla) Pat has relocated to Europe to continue study at the Koninklijk Conservatorium in Den Haag, The Netherlands.</p>
            <p>Pat is available throughout Europe for Audio engineering, Teaching, and Performance.</p>
        </article>
    
        <section id="slider">
           
            <input checked type='radio' name='slider' id='slide1'/>
            <input type='radio' name='slider' id='slide2'/>
            <input type='radio' name='slider' id='slide3'/>
    
            <div id="slides">
                <div id="container">
                    <div class="inner">
                        <article class="image">
                            <img src="{{ site.baseurl }}/images/bio/bio_1_Pat Stewart.jpg"/>
                        </article>
                        <article class="image portrait">
                            <img src="{{ site.baseurl }}/images/bio/bio_2_Pat Stewart.jpg"/>
                        </article>
                        <article class="image">
                            <img src="{{ site.baseurl }}/images/bio/bio_3_Pat Stewart.jpg"/>
                        </article>
    
                    </div>
                </div>
            </div>
            <div id="commands">
                <label for='slide1'></label>
                <label for='slide2'></label>
                <label for='slide3'></label>     
            </div>
            <div id="active">
                <label for='slide1'></label>
                <label for='slide2'></label>
                <label for='slide3'></label>
            </div>
        </section>
    
    </section>