
<section class="contact" id="contact">
    <h3>Contact</h3>
    <div class="forms">
        <form action="" class="contact-form">
            <div class="field">
                <input type="text" name="fullname" id="fullname" placeholder="Lin Davis">
                <label for="fullname">Name</label>
            </div>
            
            <div class="field">
                <input type="email" name="email" id="email" placeholder="your@email.com">
                <label for="email">Email</label>
            </div>

            <div class="field">
                <textarea name="msg" class="input msg" id="" cols="35" rows="5" placeholder="Your message..."></textarea>
                <label for="msg">Message</label>
            </div>
        </form>

        <div class="send">
            <button type="submit">Send</button>
        </div>

    </div>
</section>

</body>