<section class="contact" id="contact">
    <h2>Contact</h2>
    <div class="forms">
        <form action="" class="contact-form">
            <div class="field">
                <input type="text" name="fullname" id="fullname" placeholder="Lin Davis">
                <label for="fullname">Name</label>
            </div>
            
            <div class="field">
                <input type="email" name="email" id="email" placeholder="your@email.com">
                <label for="email">Email</label>
            </div>

            <div class="field">
                <textarea name="msg" class="input msg" id="" cols="35" rows="5" placeholder="Your message..."></textarea>
                <label for="msg">Message</label>
            </div>
        </form>

        <div class="send">
            <button type="submit">Send</button>
        </div>

    </div>
</section>








<!-- <div class="bg-contact2" style="background-image: url('images/bg-01.jpg');">
    <div class="container-contact2">
        <div class="wrap-contact2">
            <form class="contact2-form validate-form">
                <span class="contact2-form-title">
                    Contact Us
                </span>

                <div class="wrap-input2 validate-input" data-validate="Name is required">
                    <input class="input2" type="text" name="name">
                    <span class="focus-input2" data-placeholder="NAME"></span>
                </div>

                <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input2" type="text" name="email">
                    <span class="focus-input2" data-placeholder="EMAIL"></span>
                </div>

                <div class="wrap-input2 validate-input" data-validate = "Message is required">
                    <textarea class="input2" name="message"></textarea>
                    <span class="focus-input2" data-placeholder="MESSAGE"></span>
                </div>

                <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                        <div class="contact2-form-bgbtn"></div>
                        <button class="contact2-form-btn">
                            Send Your Message
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->