<section class="contact">
    <h3>Contact</h3>
    <div class="forms">
        <form action="" class="contact-form">
            <div class="field">
                <input class="item-input" type="text" name="fullname" id="fullname" placeholder="Lin Davis">
                <label class="item-label" for="fullname">Name</label>
            </div>
            
            <div class="field">
                <input class="item-input" type="email" name="email" id="email" placeholder="your@email.com">
                <label class="item-label" for="email">Email</label>
            </div>

            <div class="field">
                <textarea class="item-textarea" name="msg" class="input msg" id="" cols="35" rows="5" placeholder="Your message..."></textarea>
                <label class="item-label" for="msg">Message</label>
            </div>
        </form>

        <div class="send">
            <button class="send-btn" type="submit">Send</button>
        </div>

    </div>
</section>