
<section class="discography" id="discography">
    <header>
        <h3>Discography</h3>
    </header>

    <ul class="album-list">
            {% for album in site.albums %}
        <li class="album">
                
            <a href="{{ site.baseurl }}{{ album.url }}">
                   

                <div class="album-content">

                    <section class="album-image">
                        <img src="{{ site.baseurl }}{{ album.image_path }}" alt="">
                    </section>
                
                    <section class="album-text">
                            <h4 class="album-year">{{ album.year }}</h4>
                            <h4 class="album-artist">{{ album.artist }}</h4>
                            <h4 class="album-name">{{ album.album_title }}</h4>
                            <p>{{ album.notes }}</p>
                    </section>
                </div>

            </a>
            
        </li>
            {% endfor %}

            
    </ul>
</section>