
<section class="discography" id="discography">
    <header>
        <h3>Discography</h3>
    </header>

    <section class="album-list">

        <article class="album">
            <a href="album-6.html">

                <div class="album-content">

                    <section class="album-image">
                        <span class="image" id="image_6">Image 06</span>
                    </section>
                
                    <section class="album-text">
                            <h4 class="album-year">2018</h4>
                            <h4 class="album-artist">Lucas Martinez Project
                            <h4 class="album-name">LIGHT AND SHADOWS</h4>
                            <p>Mix Engineer, Mastering Engineer</p>
                    </section>
                </div>

            </a>
        </article>

        <article class="album">
            <a href="album-5.html">

                <div class="album-content">

                    <section class="album-image">
                        <span class="image" id="image_5">Image 05</span>
                    </section>
                

                    <section class="album-text">
                            <h4 class="album-year">2018</h4>
                            <h4 class="album-artist">Ryan Hendricks</h4>
                            <h4 class="album-name">OLD ZEALAND</h4>                                    
                            <p>Recording Engineer, Mix Engineer, Producer (Tracks 3, 5, 6, 8)</p>
                    </section>
                </div>

            </a>
        </article>

        <article class="album">
            <a href="album-4.html">

                <div class="album-content">

                    <section class="album-image">
                        <span class="image" id="image_4">Image 04</span>
                    </section>

                    <section class="album-text">
                        <h4 class="album-year">2016</h4>
                        <h4 class="album-artist">The Strowlini Orchestra</h4>
                        <h4 class="album-name">The Strowl</h4>
                        <p>Producer, Composer, Arranger, Bass, Keys, Guitar, Mix Engineer</p>
                    </section>
                </div>

            </a>
        </article>

        <article class="album">
            <a href="album-3.html">

                <div class="album-media">

                    <section class="album-image">
                        <span class="image" id="image_3">Image 03</span>
                    </section>
                
                    <section class="album-text">
                        <h4 class="album-year">2016</h4>
                        <h4 class="album-artist">Ash Broke</h4>
                        <h4 class="album-name">Broke'n Dreams</h4>
                        <p>Mix Engineer, Bass</p>
                    </section>
                </div>

            </a>
        </article>

        <article class="album">
            <a href="album-2.html">

                <div class="album-content">

                    <section class="album-image">
                        <span class="image" id="image_2">Image 02</span>
                    </section>
                

                    <section class="album-text">
                        <h4 class="album-year">2015</h4>
                        <h4 class="album-artist">Funkacybin</h4>
                        <h4 class="album-name">Voyager</h4>
                        <p>Producer, Mix Engineer</p>
                    </section>
                </div>

            </a>
        </article>

        <article class="album">
            <a href="album-1.html">

                <div class="album-content">

                    <section class="album-image">
                        <span class="image" id="image_1">Image 01</span>
                    </section>
                

                    <section class="album-text">
                        <h4 class="album-year">2014</h4>
                        <h4 class="album-artist">Brockaflower</h4>
                        <h4 class="album-name">Build It</h4>
                        <p>Producer, Electronics, Keys, Bass</p>
                    </section>
                </div>

            </a>
        </article>
    </section>
</section>