<header class="header">

  <div class="logo">
      <a href="/">
          <img src="/images/logo:menu/LOGO_black.svg" alt="">
      </a>
  </div>

  <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

  <ul class="menu">
      <li><a href="/home/">Home</a></li>
      <li><a href="/biography/">Biography</a></li>
      <li><a href="/discography/">Discography</a></li>
      <li><a href="/tours/">Tours</a></li>
      <li><a href="/contact/">Contact</a></li>
  </ul>

</header>


