<section class="home" id="home">
                
    <section class="slider">
       
        <input checked type='radio' name='slider' id='slide1-home'/>
        <input type='radio' name='slider' id='slide2-home'/>
        <input type='radio' name='slider' id='slide3-home'/>

        <div class="slides">
            <div class="container">
                <div class="inner">
                    <article class="image-home">
                        <img class="image-mobile" src="/images/home/home_1_Pat Stewart.jpg"/>
                        <img class="image-desctop" src="/images/home/hom_1_Pat Stewart_1024px.jpg"/>
                    </article>
                    <article class="image-home landscape">
                        <img class="image-mobile" src="/images/home/home_2_Pat Stewart.jpg"/>
                        <img class="image-desctop" src="/images/home/home_2_Pat Stewart_1024px.jpg"/>
                    </article>
                    <article class="image-home">
                        <!-- <div class='caption'>
                            <bar>A Small Elephant <a href="#">read more</a></bar>
                        </div> -->
                        <img class="image-mobile" src="/images/home/home_3_Pat Stewart.jpg"/>
                        <img class="image-desctop" src="/images/home/home_3_Pat Stewart_1024px.jpg"/>
                    </article>

                </div>
            </div>
        </div>
        <div class="commands">
            <label for='slide1-home'></label>
            <label for='slide2-home'></label>
            <label for='slide3-home'></label>     
        </div>
        <div class="active">
            <label for='slide1-home'></label>
            <label for='slide2-home'></label>
            <label for='slide3-home'></label>
        </div>
    </section>
</section>