<section class="home" id="home">
                
    <section class="slider">
       
        <input checked type='radio' name='slider' id='slide1'/>
        <input type='radio' name='slider' id='slide2'/>
        <input type='radio' name='slider' id='slide3'/>

        <div class="slides">
            <div class="container">
                <div class="inner">
                    <article class="image-home">
                        <img src="/images/home/home_1_Pat Stewart.jpg"/>
                    </article>
                    <article class="image-home portrait">
                        <!-- <div class='caption'>
                            <bar>A Bubble on Flower</bar>
                        </div> -->
                        <img src="/images/home/home_2_Pat Stewart.jpg"/>
                    </article>
                    <article class="image-home">
                        <!-- <div class='caption'>
                            <bar>A Small Elephant <a href="#">read more</a></bar>
                        </div> -->
                        <img src="/images/home/home_3_Pat Stewart.jpg"/>
                    </article>

                </div>
            </div>
        </div>
        <div class="commands">
            <label for='slide1'></label>
            <label for='slide2'></label>
            <label for='slide3'></label>     
        </div>
        <div class="active">
            <label for='slide1'></label>
            <label for='slide2'></label>
            <label for='slide3'></label>
        </div>
    </section>
</section>