.contact {
    width: 100%;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact .forms {
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.contact h3 {
    flex: 1 0 100%;
}

.contact-form {
    margin: 0;
    width: 24em;
    display: flex;
    flex-flow: column;
  }
  
.field {
    
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}

.item-label {
    flex: 1 1 100%;
    color: rgba(0,0,0,0.5);
    margin-bottom: 0.3rem;
}

.item-label, .item-input, .item-textarea {
  transition: all 0.2s;
  touch-action: manipulation;
  padding-bottom: 0.2em;
}

.field textarea {
    display: inline;
}

.item-input, .field textarea {
  font-size: 1.3em;
  border: 0;
  border-bottom: 0.1em solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}

.item-input:focus,
.field textarea:focus {
    outline: 0;
    border-bottom: 0.1rem solid #bb377d;
}

.item-label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.item-input:placeholder-shown + .item-label,
.field textarea:placeholder-shown + .item-label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder,
::-webkit-textarea-placeholder {
  opacity: 0;
  transition: inherit;
}

.item-input:focus:-webkit-input-placeholder,
.field textarea:focus:-webkit-textarea-placeholder {
  opacity: 1;
}

.item-input:not(:placeholder-shown) + .field label,
.item-input:focus + .field label,
.field textarea:not(:placeholder-shown) + .field label,
.field textarea:focus + .field label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.contact button {
    /* background: linear-gradient(to right, rgba(251, 211, 233, 0.4), rgba(187, 55, 125, 0.4)); */
    padding: 1rem 4rem;
    margin: 1rem;
    font: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: 0;
    color: rgba(0,0,0,0.5)
}

.contact button:hover {
    cursor: pointer;
}

.contact button:focus {
    outline-color: #bb377d;
}
