.site-footer {
    background: rgb(255, 255, 255);
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    display: flex;
    z-index: 10;
    opacity: 0.8;
}
.site-footer .social-media {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.site-footer .social-media li {
    list-style: none;
    padding: 1em 0.5em 1em 0.5em;
}

.site-footer .social-media li i {
    font-size: 1.8rem;
    color: #000;
}
.site-footer .social-media li:hover i {
    color: rgba(0,0,0,0.5);
}

@media screen and (min-width: 1024px) {
    .site-footer .social-media li i {
        font-size: 1.3rem;
        color: #000;
    }
}