@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"');
@import url('typography.css');

@import url('home.css');
@import url('biography.css');

@import url('site-header.css');
@import url('site-footer.css');


:root {
    --color-main-bgrd: #333;
    --color-main-text: #FFF;
    --color-main-link: orange;

    --color-basic-border: #CCC;

    --sizing-basic-border: 1px;
}

body {
 
}

.site-content {
    padding: 2rem 0;
}

body.gallery {
    
}


