
.home {
    display: block;
    margin: 0 auto;
    width: 100vw;


    /* Slider  */

    .wrapper{
    width:100%;
    position:relative;
    }

    .carousel{
        padding-top: 150%;
        position: relative;
        overflow: hidden;
    }


    .inner{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    /**
    * ==========================
    * Animation styles
    * 
    * We set right:0 and left:0 on .slide to provide us with
    * a default positioning on both sides of the slide. This allows 
    * us to trigger JS and CSS3 animations easily
    *
    */
    .slide{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        right:0;
        left:0;
        z-index: 1;
        opacity: 0;
        overflow: hidden;
    }

    .image-mobile {
        display: block;
        position: absolute;
        margin: 0 auto;
        top: 0; left: 0; right: 0; bottom: 0;
    }

    .image-desctop {
        display: none;
    }

    .landscape .image-mobile {
        height: 85%;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }


    .slide.active,
    .slide.left,
    .slide.right{
        z-index: 1;
        opacity: 1;
    }

    /**
    * ==========================
    * JS animation styles
    * 
    * We use jQuery.animate to control the sliding animations
    * when CSS3 animations are not available. In order for
    * the next slide to slide in from the right, we need
    * to change the left:0 property of the slide to left:auto
    *
    */

    .js-reset-left{left:auto}

    /**
    * ==========================
    * CSS animation styles
    * 
    * .slide.left and .slide.right set-up
    * the to-be-animated slide so that it can slide
    * into view. For example, a slide that is about 
    * to slide in from the right will:
    * 1. Be positioned to the right of the viewport (right:-100%)
    * 2. Slide in when the style is superseded with a more specific style (right:0%)
    *
    */
    .slide.left{
        left:-100%;
        right:0;
    }

    .slide.right{
        right:-100%;
        left: auto;
    }

    .transition .slide.left{left:0%}
    .transition .slide.right{right:0%}

    /**
    * The following classes slide the previously active
    * slide out of view before positioning behind the 
    * currently active slide
    *
    */
    .transition .slide.shift-right{right: 100%;left:auto}
    .transition .slide.shift-left{left: 100%;right:auto}

    /**
    * This sets the CSS properties that will animate. We set the
    * transition-duration property dynamically via JS.
    * We use the browser's default transition-timing-function
    * for simplicity's sake
    * 
    * It is important to note that we are using CodePen's inbuilt
    * CSS3 property prefixer. For your own projects, you will need
    * to prefix the transition and transform properties here to ensure
    * reliable support across browsers
    *
    */
    .transition .slide{
        transition-property: right, left, margin;
    }

    /**
    * ==========================
    * Indicators
    *
    */
    .indicators{
    width:100%;
    position: absolute;
    bottom: 10%;
    z-index: 1;
    padding:0;
    text-align: center;
    }

    .indicators li{
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: 5px;
        border:2px solid #fff;
        background: transparent;
        list-style-type: none;
        border-radius: 50%;
    cursor:pointer;
    transition:background 0.3s ease-out;
    }

    .indicators li:hover {
        background-color:#222;
    }

    .indicators li:first-child.active,
    .indicators li:nth-child(3).active {
        background:#fff;
        border:2px solid #fff;
    }

    .indicators li:nth-child(2).active {
        background:#000;
        border:2px solid #000;
    }
    



    /**
    * ==========================
    * Arrows 
    *
    */
    .arrow{
    width: 40px;
    height: 40px;
    position:absolute;
    top:50%;
    z-index: 1;
    border-top:3px solid #7c7b7b;
    border-right:3px solid #7c7b7b;
    cursor:pointer;
    transition:border-color 0.3s ease-out;
    display: none;    
    }

    .arrow:hover{border-color:#93278f}

    .arrow-left{
    left:40px;
    transform:rotate(225deg);
    }

    .arrow-right{
    right:40px;
    transform:rotate(45deg);
    }

    /**
    * ==========================
    * For demo purposes only
    * 
    * Please note that the styles below are used
    * for the purposes of this demo only. There is no need
    * to use these in any of your own projects
    *
    */
    .slide{
        height: 100%;
    }


    @media (min-width: 760px) {
        .carousel {
            padding-top: 40%;
        }

        .image-mobile {
            display: none;
        }

        .image-desctop { 
            display: block;
            width: 100%;
            height: auto;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            margin: 0 auto;
        }

        .landscape .image-desctop {
            width: auto;
            height: 100%;
        } 

        .arrow {
            display: inline-block;
        }
    }


}
