.tours {
    max-width: 100vw;
    height: 90vh;
    overflow: hidden;
    background: url("{{ site.baseurl }}/images/tours_1.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.tours-content {

}

.tours-header h3 {
    color: #FFF;
}